#numpy
pandas
streamlit
streamlit-aggrid

./src/packs

progress
matplotlib
easydict
scipy
pycocotools
fire
scikit-image
tensorboardX

#./src/iou3d_win; platform_system=='Windows'
#./src/iou3d_unix; platform_system!='Windows'
